
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
:root{
    --special-ff:'Sacramento', cursive;
}
/* Home */
.image-size{
    width:84.2rem;
    /* margin-top: 2.8rem; */
    border: 1px solid black;
}

.content{
    margin-top: -21.3rem;
    margin-left: 7rem;
}
.tag{
    height:5.5rem;
}
.menu{
    margin-left: -5rem;
}
.menu li{
    display: block;
    position: relative;
}
.menu li a{
    color:#b7b095;
    font-weight: 400;
    text-decoration: none;
}
.highlight{
    cursor: pointer;    
}
body > section > div > div.col-lg-6.col-md-6.col-12.mt-5 > ul > li:nth-child(n){
    list-style: none;
}
.menu li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #b7b095;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
body > section > div > div.col-lg-6.col-md-6.col-12.mt-5 > ul > li:nth-child(n){
    overflow: hidden;
}
body > section > div > div.col-lg-6.col-md-6.col-12.mt-5 > ul > li:nth-child(n)::after {
    opacity :1;
    transform: translate3d(-100%, 0, 0);
}
  
body > section > div > div.col-lg-6.col-md-6.col-12.mt-5 > ul > li:nth-child(n):hover::after,
body > section > div > div.col-lg-6.col-md-6.col-12.mt-5 > ul > li:nth-child(n):focus::after{
    transform: translate3d(0, 0, 0);
}
.menu .active{
    color:white;
    border-bottom: 1px solid white;
}

/* Section 2: With Slider */
.bg-image{
    width:84.2rem;
    padding:0%;
    margin-top: 14rem;
    height: 37rem;
    /* border:2px solid blue; */
}
.slider{
    margin:-47.5rem 3.3rem 0rem 3.3rem;
}
.slides{
    font-size:3rem;
    display:flex;
    text-align: left;
    margin: -25rem 22rem 2rem -1rem;
}
.slides-2{
    font-size: 2rem;
    font-weight: bolder;
    font-family: var(--special-ff);
    margin:2rem 40rem 2rem -1rem ;
    color:#b7b095;
}
.btn-2{
    color:rgb(36, 34, 34);
    font-size:1.2rem;
    margin-left: 10rem;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(36, 34, 34);
}
.btn-2:hover{
    color:rgb(36, 34, 34);
    text-decoration: none;
    border:none;
    cursor: pointer;
}

.social{
    color: rgb(36, 34, 34);
    font-size: 1.2rem;
}
.social a{
    text-decoration: none;
}
.social .fab{
    background-color: #b7b095;
    color:white;
    padding:1rem;
    border-radius: 3rem;
    margin-left: 2rem;
}

/* Welcome Section */
.Welcome-text{
    text-align:start;
    padding: 5rem 5rem 0 5rem;
}
.Welcome-text h4{
    color:#b7b095;
    font-family: var(--special-ff);
    font-size: 2.9rem;
    font-weight: 700;
}
.Welcome-text h3{
    padding-top: 2rem;
    /* padding-right: 5rem; */
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: rgb(77, 75, 75);
}
.Welcome-text p{
    font-weight: 400;
    color: #b7b095;
    letter-spacing: 1px;
    padding:2rem 4rem 0 0;
    line-height: 1.4rem;
}
.Welcome-slides{
    padding:3rem 7rem 3rem 5rem; 
}
.Welcome-slides img{
    height: 23rem;
    padding-right:1rem;
}
.Pasta{
    margin-top: 5rem;
}
.Pasta img{
    height: 38rem;
}
.contact h3{
    margin:2rem 0 1rem;
    text-align: start;
}
.black-bg{
    background-color: rgb(33, 33, 33);
    color: #b7b095;
    height:8.3rem;
    width:21rem;
    padding: 1rem 3.5rem 0; 
}
.black-bg a{
    color: #b7b095;
    text-decoration: none;
    padding-right:5rem;
}
.black-bg a:hover{
    color:white;
}

/* Menu Section */
.bg-2{
    background-image: url(/imgs/bg-2.webp);
    padding:5rem;
}
.bg-2 h3{
    color: #b7b095;
    font-family: var(--special-ff);
    font-size:2rem;
    font-weight: 600;
}
.list-edit{
    list-style: none;
    flex-direction: column;
    margin-left: -3rem;
}

.list-edit li{
    font-size: 1.1rem;
    padding-top: 0.6rem;
    text-align:center;
    color:#b7b095;
    cursor: pointer;
}
.list-edit li:hover{
    color:  rgb(33, 33, 33);
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(33, 33, 33);
}
.list-edit .active{
    color:  rgb(33, 33, 33);
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(33, 33, 33);
}
.Menu-top{
    display: flex;
    flex-direction: row;
}
.Menu-Head{
    font-size: 3rem;
    color: rgb(33, 33, 33);
    padding-top:-2rem;
}
.menu-text{
    padding:0 9rem 0 12.5rem;
    margin-top: -2.6rem;
}
.image-fluid-2{
    height:6rem;
    padding:0;
}
.price{
    margin-left: 10rem;
}
.menu-text{
    padding:0 9rem 0 12.5rem;
    margin-top: -2.6rem;
}
.name{
    color: rgb(33, 33, 33);
    font-size: 2rem;
    letter-spacing: -5px;
    margin-top: -12px;
}
.btn-3{
    cursor: pointer;
}
.btn-3:hover{
    color: #b7b095;
    cursor: pointer;
}
#Hotels-Menu h4{
    font-size: 1.4rem;
    font-weight: 400;
}
/* Testimonials */

.image-size-2{
    width:84.2rem;
    height: 30rem;
    margin-top: 2.8rem;
    border: 1px solid black;
}
.testimonials-tag{
    padding-left:12rem;
    margin-top: -25rem;
}
#Testimonials h3{
    color:#b7b095;
    font-family: var(--special-ff);
    font-size: 2.5rem;
}
.test-slider{
    margin: 1rem 0rem 5rem 12rem ;
}
.text-testimonial{
    color:white;
    font-size: 2rem;
    letter-spacing: 1px;
}
.img-set{
    border: 2px solid #b7b095;
    padding:1rem;
    border-radius: 50%;
}
.img-text{
    color: #a9a286;
    font-size: 1rem;
    margin-top: 1rem;
}
#Testimonials .carousel-indicators{
    margin-bottom:-5rem !important;
    margin-left: -2rem;
}



